html{
  font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
  scroll-behavior: smooth;
}

/* Banner properties */
.banner{
  height: auto;
  width: 100%;
  background-color: rgb(0,0,0,0);
  display: flex;
  justify-content: center;
  position: absolute;
  text-align: center;
  gap: 20px;
  padding: 20px;
  z-index: 999;

}
.banner_links{
  height: auto;
  width: 10%;
  text-align: center;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;

}
.banner_links a{
  text-decoration: none;
  color: white;
  transition: color 0.25s ease;
}

.banner_links a:hover{
  color:black;
}

/* Main panel properties */
.main_panel{
  background-color: URL("img/main.png");
  background-size:cover ;
  width: auto;
  height: 100vh;
  user-select: none;
}
.main_panel img{
  filter:brightness(60%);
}
.main_section{
  color: #F0EAD6;
  width: 40vw;
  height: 100px;
  position: absolute;
  top: 45%;
  left: 55%;
  transform: translate(-45%, -55%);
}

/* About me section */
.aboutMe{
  width: auto;
  height: 1000px;
}
body{
  margin: 0;
  padding: 0;
}

